@model IEnumerable<Home_Office_Solutions.Models.Shop>

@{
    ViewData["Title"] = "Index";
}

<h2>Shops</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-outline-info" />
            <button value="Return" class="btn btn-outline-info">  <a asp-action="Index">Return Full List </a></button>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShopAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopName)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShopAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopName)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ShopID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShopID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShopID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
