@model IEnumerable<Home_Office_Solutions.Models.StockShopAddress>

@{
    ViewData["Title"] = "StockList";
}

<h2>Stock List</h2>

<p>
    <a asp-action="Create">Add New Stock</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>

                <a asp-action="Details" asp-route-id="@item.ProductID">View Store Address</a> | |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete Stock Item</a>

            </td>
        </tr>
}
    </tbody>
</table>
